/* CSS Document */

#main-container {
	position:absolute; left:0px; top:0px; width:801px; height:1000px; 
}
#layout-top {
	position:absolute; left:0px; top:0px; width:801px; height:4px;
}
#freemetrop-title {
	position:absolute; left:0px; top:4px; width:280px; height:34px;
}
#title-rt {
	position:absolute; left:280px; top:4px; width:7px; height:78px;
}
#banner-ad-area {
	position:absolute; padding:2px; left:287px; top:4px; width:470px; height:78px; background-color:#E3EBD6; margin-top: 5px; margin-bottom:5px;
}
#layout-far-rt-bar {
	position:absolute; left:779px; top:4px; width:22px; height:100%; background-color:#CFD0A6;
}
#city-name {
	position:absolute; left:0px; top:38px; width:235px; height:44px; background-color:#E3EBD6;
}
#cityname-rt {
	position:absolute; left:235px; top:38px; width:45px; height:44px; background-color:#E3EBD6;
}
#primary-nav-blk-line-top {
	position:absolute; left:0px; top:82px; width:757px; height:1px; background-color:#000000;
}
#search-box {
	position:absolute; left:0px; top:83px; width:110px; height:31px; background-color:#C0C79A;
}
#primary-nav {
	position:absolute; left:110px; top:83px; width:647px; height:31px;z-index: 15;
}

#holder { 
	width:450px; margin-left:20px;
}

#main-content-bread {
	position:static; left:0px; top:0px; width:450px; height:15px; margin:0px 0px 0px 0px; z-index:1;
}
#main-content-text {
	position:static; left:0px; top:33px; width:450px; height:AUTO; margin:0px 0px 5px 22px; z-index:1;
}
#main-content-image {
	position:static; height:auto; width:auto; margin:5px 5px 5px 0px; float: right; text-align: center; border: 1px dotted #032947;
}
#secondary-navigation {
	position:absolute; padding:4px; left:0px; top:114px; width:101px; background-color:#E3EBD6; border-right: 1px solid black; border-bottom: 1px solid black;
}

textarea { 
	width:95%;
}

text { 
	width: 95%;
}

#form-item { 
	width:95%;
}

form {
	margin: 0;
 padding: 0;
 width:95%;
}

fieldset {
	margin-bottom: 1em;
 padding: .5em;
 width:95%;
}

/*-------------------------------------------------
TABS
-------------------------------------------------*/

#Tabs {
	height: 18px;
	margin: 0;
	padding-left: 0px;
}

#Tabs li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
	border: none;

}

#Tabs a:link, #Tabs a:visited {
	float: left;
	background: #cccccc;
	font-size: 10px;
	font-weight: normal;
	padding: 3px 6px;
	margin: 0 -px 0 0;
	border: 1px solid #a2ae86;
	text-decoration: none;
	color: #333;
}

#Tabs a:link.current, #Tabs a:visited.current {
	background: #e3ebd6;
 color: #70302F;
	font-weight: bold;
	border-bottom: 1px solid #E3EBD6;

}

#Tabs a:hover {
	color: #000;
	background: #ffc;
}


#Tabs li#AdminTab a:link, #Tabs li#AdminTab a:visited {
	background: #000;
	border-bottom: 1px solid #000;
	color: #fff;
}

#Tabs li#AdminTab a:hover {
}

#Tabs li#AdminTab a.current {
	background: #fff;
	border-bottom: 1px solid #000;
	color: #000;
}

#Tabs li#AdminTab a.current:hover {
}





