BODY  {
	font-family: Arial, Helvetica, sans-serif; font-size: 11px; background-color: #E3EBD6; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;
}

.content, TD {
	font-family: Arial, Helvetica, sans-serif; font-size: 11px;
}


.image {
	font: 500 small-caps 9px Arial, Helvetica, sans-serif;
}
.image a {
	text-decoration: none;
}
.image a:link	{
	color: #032947;
}
.image a:visited	{
	color: #F98C38;
}
.image a:hover	{
	color: #85191D;	
}
.image a:active	{
	color: #85191D;
}
a.secondary-navigation 	{
	font: 500 small-caps 12px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

a	{
	font: 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
a:link	{
	color: #687059;
 text-decoration: none;
}
a:visited	{
	color: #687059;
}
a:hover	{
	color: #B3964D;	
}
a:active	{
	color: #B3964D;
}


.trail {
	font-size: 11px;
	text-transform: uppercase;
 	text-decoration: none;
}
.trail a {
	
}
.trail a:link	{
	color: #8D5F59;
}
.trail a:visited	{
	color: #F98C38;
}
.trail a:hover	{
	color: #C1B180;	
}
.trail a:active	{
	color: #C1B180;
}
.bodytext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 500;
	color: #8E9875;
}
.form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	border: 1px solid #F98C38;
	margin: 3px 0px 3px 5px;
}
.city {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align:right;
	font-weight: 300;
	color: #A2AE86;
}

.active {
	font-weight:bold;
}

.heading2 {
	font: 500 small-caps 11px/14px Arial, Helvetica, sans-serif;
	color: #9D8343;
}
.heading1, h1, h2 {
	font: 500 13px/16px Arial, Helvetica, sans-serif;
	color: #70302F;
}

h3 {
	font: 11px Arial, Helvetica, sans-serif;
	color: #70302F;
}


.heading3 {
	font: 500 11px Arial, Helvetica, sans-serif;
	color: #1D396F;
}

.form-item {
	margin-top: 1em;
}
.form-item label {
	font: 500 small-caps 11px/14px Arial, Helvetica, sans-serif;
	color: #9D8343;
}

#tax_collection {
	font-size: 12px;
}
